@font-face {
	font-family: 'gentlinesregular';
	src: url('gentlines-regular.eot');
	src: url('gentlines-regular.eot?#iefix') format('embedded-opentype'), url('gentlines-regular.woff') format('woff'), url('gentlines-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	margin:0px;
	padding:0px;
}

body {
	background: white;
	color: black;
	padding: 0px;
	margin: 0px;
}

section {
	display: block;
	float: left;
	margin: 0;
	width: 100%;
}

h1, h2, h3, h4 {
	font-size: 25px;
	font-family: Helvetica, sans-serif;
	font-weight: normal;
}

p {
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

#top {
	width: 100%;
}

header {
	background: #ccc;
	padding: 34px 0px 14px 30px;
	margin:0;
}

header:hover {
	background: #21a119;
}

header h1 {
	margin: 0;
}

header p {
	margin-left: -20px;
	margin-top: -7px;
}

p#generatedcode {
	margin: 0;
	padding: 0;
	font: normal 12px/1 Helvetica, sans-serif;
}

p#csscode {
	margin: 0;
	padding: 0;
	font: normal 12px/1 Helvetica, sans-serif;
}

#fonts {
	margin: 0px 0px 8px 0px;
	padding: 0px 0px 0px 26px;
	background: rgba(0, 187, 0, .8);
	position: fixed;
	/*left: 20px;*/
	top: 0px;
	width: 100%;
}

#fonts li {
	display: block;
	color: #000;
	list-style: none;
	cursor: pointer;
	margin: 0px 10px 0px 0px;
	float: left;
	padding: 0px 0px 4px 6px;
}

#fonts li span {
	margin: 6px 6px 6px 0px;
	font-size: 20px;
}

#fonts li.active {
	background: #333333;
	color: #fff;
}

#fonts li:hover {
	color: #fff;
}

#custom {
/*	margin: 0;
	padding: 0;
*/}

#custom p {
	margin: 2px 0px 4px 0px;
	padding: 0 0 0 14px;
	outline: none;
}

p.sizelabel {
	padding-top: 24px;
	margin-bottom:-10px;
	color: #21a119;
	font-family: Helvetica, sans-serif !important;
	font-size: 12px;
	line-height: 12px;
	font-style: normal;
}

.tabs {
/*	width: 99%;*/
	/*overflow:auto;*/
	clear: both;
	margin:0px;
	padding: 0px 0px 0px 20px;
}

div.tabs > div h2 {
	margin-top: 0;
	padding: 5px 10px 5px 10px;
}

div.tabs > div {
	width: 100%;
	overflow:auto;
	clear: both;
}

UL.tabNavigation {
	width: 99%;
	float: left;
}

UL.tabNavigation LI, UL.tabNavigation LI A {
	display: block;
	float: left;
	font-family: Helvetica, sans-serif !important;
	font-size: 12px;
	color: #000000;
	letter-spacing: 1.5px;
	text-align: center;
	text-decoration: none;
	white-space:nowrap;
	/*margin: 0 12px 0 -8px;*/
	list-style-type: none;
	display: inline-block;
	width: auto;
	text-transform: uppercase;
	list-style: none;
	background-color: #ccc;
}

UL.tabNavigation LI A:hover {
	background-color: #21a119;
}

UL.tabNavigation LI A {
	padding:2% 0 2% 0;
/*	padding: 5px 10px 5px 10px;*/
	width: 100%;
}

UL.tabNavigation LI {
	margin-right: 0.3%;
/*	margin-right: 8px;*/
	width: 10.7%;
}

UL.tabNavigation LI A.selected {
	background-color: #333333;
	color: #fff;
}

UL.tabNavigation LI A:focus {
	outline: 0;
}

#ruder td {
	font-size: 32px;
	line-height: 1;
	margin: 0;
	padding: 4px;
}

.textsettingCol2 {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	outline: none;
}

.textsettingCol3 {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
	outline: none;
}

.textsettingCol2 p, .textsettingCol3 p {
	break-inside: auto;
}

.textsettingCol2 .sizelabel, .textsettingCol3 .sizelabel, .textsettingCol2 .textline, .textsettingCol3 .textline {
	break-after: avoid-column;
	-webkit-column-break-after: avoid;
}

.lowercase {
	text-transform: lowercase;
}

.capitalized {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

.extra {
	font-family: Helvetica, sans-serif !important;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 10px 0 10px 20px;
}

a, a:link, a:visited {
	color: #21a119;
	outline: none;
}

#toggleotfeatures, #otfeatures {
	display: none;
}


#footer, #footer p {
	padding: 20px 0 20px 15px;
	width: auto;
	font-size: 12px;
	line-height: 20px;
	color: #999;
	font-family: Helvetica, sans-serif !important;
	font-style: normal;
	margin: 0;

}

#footer p a {
	color: #999;
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .1);
	border-bottom: 4px solid rgba(0, 0, 0, .1);
	text-decoration: none;
}

#footer p a:hover {
	color: #00AF00;
	box-shadow: inset 0 -3px 0 #21a119;
	border-bottom: 4px solid #21a119;
	text-decoration: none;
}


::selection {
	background: #21a119;
	color: #000;
}
::-moz-selection {
	background: #21a119;
	color: #000;
}


/*
#toggleotfeatures {
	float: left;
	width: 1460px;
	margin: 0 20px;
	padding: 8px 20px;
	background-color: #ccc;
}

#otfeatures {
	float: left;
	width: 1500px;
	margin: 0px 20px 10px;
	padding: 0px 0px 8px;
	background: #ccc;
}

#otfeatures table td {
	padding: 4px 20px;
}

#toggleotfeatures, #otfeatures {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif !important;
	font-size: 14px;
}

#toggleotfeatures a {
	color: #fff;
	text-decoration: none;
}

UL.tabNavigation LI.last {
	margin-right: 0;
}

#adhesion .sizelabel {
	padding-top: 20px;
}


*/
